<!--<div class="navbar">
    <div class="logo">
      <h1>Chad's Fitness</h1>
    </div>
    <div class="menu">
      <ul>
        <li>Home</li>
        <li>Activities</li>
        <li>Messages</li>
        <li class ="profile">
          <img src="https://loremflickr.com/1280/720" alt="Profile Picture" class="profile-image">
          User Profile</li>
        <li>Logout</li>
      </ul>
    </div>
  </div>-->
  <div class="navbar">
    <div class="logo">
      <!-- Add a rectangular logo image from the assets folder -->
      <img src="/assets/images/cflogo.png" alt="Chad's Fitness Logo" class="logo-image">
    </div>
    <div class="menu">
      <ul>
        <li>Home</li>
        <li>Activities</li>
        <li>Messages</li>
        <li class="profile">
          <img src="https://loremflickr.com/1280/720" alt="Profile Picture" class="profile-image">
          <div class="profile-text">User Profile</div> <!-- Wrapped text in a div -->
        </li>
        <li>Logout</li>
      </ul>
    </div>
  </div>
  

