
<div class="user-profile">
  <div class="image-wrapper">
    <img src="https://loremflickr.com/1280/720" class="centered-image">
  </div>
    <h2 class="center-align">Stella John</h2>
    <h6 class="left-align">Short Bio:</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <div class="info-container">
      <div class="info-item">
          <i class="fas fa-map-marker-alt"></i>
          <span class="address">1234 Elm Street, Springfield, IL</span>
      </div>
      <div class="info-item">
          <i class="fas fa-clock"></i>
          <span class="date">Joined on September 4, 2024</span>
      </div>
    </div>
      <div class="button-container">
        <button class="profile-button">Edit Profile</button>
      </div>
    <hr>
    <div class="dropdown-container">
      <button class="dropdown-button">Subscribed Activities
        <span class="option-count">(6)</span>
      </button>
      <div class="dropdown-options">
          <div>Running</div>
          <div>Weight Lifting</div>
          <div>Basketball</div>
          <div>Softball</div>
          <div>Baseball</div>
          <div>Tennis</div>
      </div>
    </div>

    
    <div class="dropdown-container">
      <button class="dropdown-button">Followers
        <span class="option-count">(3)</span>
      </button>
      <div class="dropdown-options">
          <div>Tony Swift</div>
          <div>Paul Brunet</div>
          <div>Anne Hathaway</div>
          <!-- Add more followers here -->
      </div>
  </div>
    

    

    <div class="dropdown-container">
      <button class="dropdown-button">Following
        <span class="option-count">(3)</span>
      </button>
      <div class="dropdown-options">
        <div>Tony Swift</div>
        <div>Paul Brunet</div>
        <div>Anne Hathaway</div>
          <!-- Add more following here -->
      </div>
  </div>
  
    

    <div class="dropdown-container">
      <button class="dropdown-button">Trophies
        <span class="option-count">(3)</span>
      </button>
      <div class="dropdown-options">
          <div>Davis Cup</div>
          <div>Fed Cup</div>
          <div>Wimbledon</div>
          <!-- Add more trophies here -->
      </div>
  </div>
 </div>

  
